In [52]:
import sys
import pandas as pd
import numpy as np

In [53]:
movies = pd.read_csv("data/movies_metadata.csv")
movies.head()

/var/folders/1c/rfkhxlc116x55hkjn6jb9ygh0000gn/T/ipykernel_63419/4226814856.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies = pd.read_csv("data/movies_metadata.csv")

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [54]:
#print(movies['id'].dtype)
#print(movies['imdb_id'].dtype)

In [55]:
movies['id'] = movies['id'].astype(str).str.strip()
movies['imdb_id'] = movies['imdb_id'].astype(str).str.strip()

In [56]:
#check whether there are any duplicate ids or imdb_ids
print(" duplicate id in total：", movies['id'].duplicated().sum())
print(" duplicate imbd_id in total：", movies['imdb_id'].duplicated().sum())

 duplicate id in total： 30
 duplicate imbd_id in total： 48

In [57]:
# show all duplicated ids
dup_ids = movies[movies['id'].duplicated(keep=False)]['id'].unique()

# check if the content of duplicated id's other column is the same
for i in dup_ids:
    rows = movies[movies['id'] == i]
    if not rows.drop('id', axis=1).duplicated().all():
        print(f"id={i} need to be checked mannually:")
        print(rows)

id=105045 need to be checked mannually:
      adult belongs_to_collection budget  \
676   False                   NaN      0
1465  False                   NaN      0

                                                 genres homepage      id  \
676   [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...      NaN  105045
1465  [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...      NaN  105045

        imdb_id original_language   original_title  \
676   tt0111613                de  Das Versprechen
1465  tt0111613                de  Das Versprechen

                                               overview  ... release_date  \
676   East-Berlin, 1961, shortly after the erection ...  ...   1995-02-16
1465  East-Berlin, 1961, shortly after the erection ...  ...   1995-02-16

     revenue runtime                          spoken_languages    status  \
676      0.0   115.0  [{'iso_639_1': 'de', 'name': 'Deutsch'}]  Released
1465     0.0   115.0  [{'iso_639_1': 'de', 'name': 'Deutsch'}]  Released

                      tagline        title  video vote_average vote_count
676   A love, a hope, a wall.  The Promise  False          5.0        1.0
1465  A love, a hope, a wall.  The Promise  False          5.0        1.0

[2 rows x 24 columns]
id=132641 need to be checked mannually:
       adult belongs_to_collection budget                         genres  \
838    False                   NaN      0  [{'id': 18, 'name': 'Drama'}]
30001  False                   NaN      0  [{'id': 18, 'name': 'Drama'}]

      homepage      id    imdb_id original_language original_title  \
838        NaN  132641  tt0046468                ja          Tsuma
30001      NaN  132641  tt0046468                ja          Tsuma

                                                overview  ... release_date  \
838    Ten years into a marriage, the wife is disappo...  ...   1953-04-29
30001  Ten years into a marriage, the wife is disappo...  ...   1953-04-29

      revenue runtime                      spoken_languages    status  \
838       0.0    89.0  [{'iso_639_1': 'ja', 'name': '日本語'}]  Released
30001     0.0    89.0  [{'iso_639_1': 'ja', 'name': '日本語'}]  Released

       tagline  title  video vote_average vote_count
838        NaN   Wife  False          0.0        0.0
30001      NaN   Wife  False          0.0        0.0

[2 rows x 24 columns]
id=22649 need to be checked mannually:
       adult belongs_to_collection budget  \
949    False                   NaN      4
15074  False                   NaN      4

                                                  genres homepage     id  \
949    [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...      NaN  22649
15074  [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...      NaN  22649

         imdb_id original_language      original_title  \
949    tt0022879                en  A Farewell to Arms
15074  tt0022879                en  A Farewell to Arms

                                                overview  ... release_date  \
949    British nurse Catherine Barkley (Helen Hayes) ...  ...   1932-12-08
15074  British nurse Catherine Barkley (Helen Hayes) ...  ...   1932-12-08

      revenue runtime                          spoken_languages    status  \
949      25.0    89.0  [{'iso_639_1': 'en', 'name': 'English'}]  Released
15074    25.0    89.0  [{'iso_639_1': 'en', 'name': 'English'}]  Released

                                         tagline               title  video  \
949    Every woman who has loved will understand  A Farewell to Arms  False
15074  Every woman who has loved will understand  A Farewell to Arms  False

      vote_average vote_count
949            6.2       29.0
15074          6.2       29.0

[2 rows x 24 columns]
id=84198 need to be checked mannually:
       adult belongs_to_collection budget  \
2564   False                   NaN      0
21116  False                   NaN      0

                                    genres homepage     id    imdb_id  \
2564   [{'id': 99, 'name': 'Documentary'}]      NaN  84198  tt1736049
21116  [{'id': 99, 'name': 'Documentary'}]      NaN  84198  tt1736049

      original_language        original_title  \
2564                 en  A Place at the Table
21116                en  A Place at the Table

                                                overview  ... release_date  \
2564   Using personal stories, this powerful document...  ...   2012-03-22
21116  Using personal stories, this powerful document...  ...   2012-03-22

      revenue runtime                          spoken_languages    status  \
2564      0.0    84.0  [{'iso_639_1': 'en', 'name': 'English'}]  Released
21116     0.0    84.0  [{'iso_639_1': 'en', 'name': 'English'}]  Released

                     tagline                 title  video vote_average  \
2564   One Nation. Underfed.  A Place at the Table  False          6.9
21116  One Nation. Underfed.  A Place at the Table  False          6.9

      vote_count
2564         7.0
21116        7.0

[2 rows x 24 columns]
id=10991 need to be checked mannually:
       adult                              belongs_to_collection    budget  \
4114   False  {'id': 34055, 'name': 'Pokémon Collection', 'p...  16000000
44821  False  {'id': 34055, 'name': 'Pokémon Collection', 'p...  16000000

                                                  genres  \
4114   [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
44821  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...

                                homepage     id    imdb_id original_language  \
4114   http://movies.warnerbros.com/pk3/  10991  tt0235679                ja
44821  http://movies.warnerbros.com/pk3/  10991  tt0235679                ja

             original_title  \
4114   Pokémon 3: The Movie
44821  Pokémon 3: The Movie

                                                overview  ... release_date  \
4114   When Molly Hale's sadness of her father's disa...  ...   2000-07-08
44821  When Molly Hale's sadness of her father's disa...  ...   2000-07-08

          revenue runtime                          spoken_languages    status  \
4114   68411275.0    93.0  [{'iso_639_1': 'en', 'name': 'English'}]  Released
44821  68411275.0    93.0  [{'iso_639_1': 'en', 'name': 'English'}]  Released

                             tagline                          title  video  \
4114   Pokémon: Spell of the Unknown  Pokémon: Spell of the Unknown  False
44821  Pokémon: Spell of the Unknown  Pokémon: Spell of the Unknown  False

      vote_average vote_count
4114           6.0      143.0
44821          6.0      144.0

[2 rows x 24 columns]
id=110428 need to be checked mannually:
       adult belongs_to_collection   budget                         genres  \
4356   False                   NaN  3512454  [{'id': 18, 'name': 'Drama'}]
23534  False                   NaN  3512454  [{'id': 18, 'name': 'Drama'}]

      homepage      id    imdb_id original_language        original_title  \
4356       NaN  110428  tt2018086                fr  Camille Claudel 1915
23534      NaN  110428  tt2018086                fr  Camille Claudel 1915

                                                overview  ... release_date  \
4356   Winter, 1915. Confined by her family to an asy...  ...   2013-03-13
23534  Winter, 1915. Confined by her family to an asy...  ...   2013-03-13

        revenue runtime                           spoken_languages    status  \
4356   115860.0    95.0  [{'iso_639_1': 'fr', 'name': 'Français'}]  Released
23534  115860.0    95.0  [{'iso_639_1': 'fr', 'name': 'Français'}]  Released

       tagline                 title  video vote_average vote_count
4356       NaN  Camille Claudel 1915  False          7.0       20.0
23534      NaN  Camille Claudel 1915  False          7.0       20.0

[2 rows x 24 columns]
id=15028 need to be checked mannually:
       adult belongs_to_collection    budget  \
5130   False                   NaN  26000000
33743  False                   NaN  26000000

                                                  genres homepage     id  \
5130   [{'id': 12, 'name': 'Adventure'}, {'id': 10751...      NaN  15028
33743  [{'id': 12, 'name': 'Adventure'}, {'id': 10751...      NaN  15028

         imdb_id original_language original_title  \
5130   tt0157472                en  Clockstoppers
33743  tt0157472                en  Clockstoppers

                                                overview  ... release_date  \
5130   Until now, Zak Gibbs' greatest challenge has b...  ...   2002-03-17
33743  Until now, Zak Gibbs' greatest challenge has b...  ...   2002-03-17

          revenue runtime                                   spoken_languages  \
5130   38793283.0    94.0  [{'iso_639_1': 'cs', 'name': 'Český'}, {'iso_6...
33743  38793283.0    94.0  [{'iso_639_1': 'cs', 'name': 'Český'}, {'iso_6...

         status                                            tagline  \
5130   Released  The adventure of a lifetime, in a few mere sec...
33743  Released  The adventure of a lifetime, in a few mere sec...

               title  video vote_average vote_count
5130   Clockstoppers  False          4.9       89.0
33743  Clockstoppers  False          4.9       90.0

[2 rows x 24 columns]
id=12600 need to be checked mannually:
       adult                              belongs_to_collection budget  \
5535   False  {'id': 34055, 'name': 'Pokémon Collection', 'p...      0
44826  False  {'id': 34055, 'name': 'Pokémon Collection', 'p...      0

                                                  genres  \
5535   [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
44826  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...

                                                homepage     id    imdb_id  \
5535   http://www.pokemon.com/us/movies/movie-pokemon...  12600  tt0287635
44826  http://www.pokemon.com/us/movies/movie-pokemon...  12600  tt0287635

      original_language                  original_title  \
5535                 ja  劇場版ポケットモンスター セレビィ 時を越えた遭遇（であい）
44826                ja  劇場版ポケットモンスター セレビィ 時を越えた遭遇（であい）

                                                overview  ... release_date  \
5535   All your favorite Pokémon characters are back,...  ...   2001-07-06
44826  All your favorite Pokémon characters are back,...  ...   2001-07-06

          revenue runtime                      spoken_languages    status  \
5535   28023563.0    75.0  [{'iso_639_1': 'ja', 'name': '日本語'}]  Released
44826  28023563.0    75.0  [{'iso_639_1': 'ja', 'name': '日本語'}]  Released

       tagline                                        title  video  \
5535       NaN  Pokémon 4Ever: Celebi - Voice of the Forest  False
44826      NaN  Pokémon 4Ever: Celebi - Voice of the Forest  False

      vote_average vote_count
5535           5.7       82.0
44826          5.7       82.0

[2 rows x 24 columns]
id=109962 need to be checked mannually:
       adult belongs_to_collection budget                         genres  \
5710   False                   NaN      0  [{'id': 18, 'name': 'Drama'}]
20899  False                   NaN      0  [{'id': 18, 'name': 'Drama'}]

      homepage      id    imdb_id original_language   original_title  \
5710       NaN  109962  tt0082992                en  Rich and Famous
20899      NaN  109962  tt0082992                en  Rich and Famous

                                                overview  ... release_date  \
5710   Two literary women compete for 20 years: one w...  ...   1981-09-23
20899  Two literary women compete for 20 years: one w...  ...   1981-09-23

      revenue runtime                          spoken_languages    status  \
5710      0.0   115.0  [{'iso_639_1': 'en', 'name': 'English'}]  Released
20899     0.0   115.0  [{'iso_639_1': 'en', 'name': 'English'}]  Released

                                                 tagline            title  \
5710   From the very beginning, they knew they'd be f...  Rich and Famous
20899  From the very beginning, they knew they'd be f...  Rich and Famous

       video vote_average vote_count
5710   False          4.9        7.0
20899  False          4.9        7.0

[2 rows x 24 columns]
id=4912 need to be checked mannually:
       adult belongs_to_collection    budget  \
5865   False                   NaN  30000000
33826  False                   NaN  30000000

                                                  genres homepage    id  \
5865   [{'id': 35, 'name': 'Comedy'}, {'id': 80, 'nam...      NaN  4912
33826  [{'id': 35, 'name': 'Comedy'}, {'id': 80, 'nam...      NaN  4912

         imdb_id original_language                   original_title  \
5865   tt0270288                en  Confessions of a Dangerous Mind
33826  tt0270288                en  Confessions of a Dangerous Mind

                                                overview  ... release_date  \
5865   Television made him famous, but his biggest hi...  ...   2002-12-30
33826  Television made him famous, but his biggest hi...  ...   2002-12-30

          revenue runtime                          spoken_languages    status  \
5865   33013805.0   113.0  [{'iso_639_1': 'en', 'name': 'English'}]  Released
33826  33013805.0   113.0  [{'iso_639_1': 'en', 'name': 'English'}]  Released

                                       tagline  \
5865   Some things are better left top secret.
33826  Some things are better left top secret.

                                 title  video vote_average vote_count
5865   Confessions of a Dangerous Mind  False          6.6      281.0
33826  Confessions of a Dangerous Mind  False          6.6      281.0

[2 rows x 24 columns]
id=5511 need to be checked mannually:
      adult belongs_to_collection budget  \
7345  False                   NaN      0
9165  False                   NaN      0

                                                 genres homepage    id  \
7345  [{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...      NaN  5511
9165  [{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...      NaN  5511

        imdb_id original_language original_title  \
7345  tt0062229                fr    Le Samouraï
9165  tt0062229                fr    Le Samouraï

                                               overview  ... release_date  \
7345  Hitman Jef Costello is a perfectionist who alw...  ...   1967-10-25
9165  Hitman Jef Costello is a perfectionist who alw...  ...   1967-10-25

      revenue runtime                           spoken_languages    status  \
7345  39481.0   105.0  [{'iso_639_1': 'fr', 'name': 'Français'}]  Released
9165  39481.0   105.0  [{'iso_639_1': 'fr', 'name': 'Français'}]  Released

                                                tagline        title  video  \
7345  There is no solitude greater than that of the ...  Le Samouraï  False
9165  There is no solitude greater than that of the ...  Le Samouraï  False

     vote_average vote_count
7345          7.9      187.0
9165          7.9      187.0

[2 rows x 24 columns]
id=23305 need to be checked mannually:
      adult belongs_to_collection budget  \
8068  False                   NaN      0
9327  False                   NaN      0

                                                 genres homepage     id  \
8068  [{'id': 12, 'name': 'Adventure'}, {'id': 16, '...      NaN  23305
9327  [{'id': 12, 'name': 'Adventure'}, {'id': 16, '...      NaN  23305

        imdb_id original_language original_title  \
8068  tt0295682                en    The Warrior
9327  tt0295682                en    The Warrior

                                               overview  ... release_date  \
8068  In feudal India, a warrior (Khan) who renounce...  ...   2001-09-23
9327  In feudal India, a warrior (Khan) who renounce...  ...   2001-09-23

     revenue runtime                         spoken_languages    status  \
8068     0.0    86.0  [{'iso_639_1': 'hi', 'name': 'हिन्दी'}]  Released
9327     0.0    86.0  [{'iso_639_1': 'hi', 'name': 'हिन्दी'}]  Released

      tagline        title  video vote_average vote_count
8068      NaN  The Warrior  False          6.3       15.0
9327      NaN  The Warrior  False          6.3       15.0

[2 rows x 24 columns]
id=69234 need to be checked mannually:
       adult belongs_to_collection    budget  \
9576   False                   NaN  10000000
26625  False                   NaN  10000000

                                                  genres homepage     id  \
9576   [{'id': 18, 'name': 'Drama'}, {'id': 27, 'name...      NaN  69234
26625  [{'id': 18, 'name': 'Drama'}, {'id': 27, 'name...      NaN  69234

         imdb_id original_language            original_title  \
9576   tt0100361                en  The Phantom of the Opera
26625  tt0100361                en  The Phantom of the Opera

                                                overview  ... release_date  \
9576   Count de Chagnie has discovered Christine's si...  ...   1990-03-18
26625  Count de Chagnie has discovered Christine's si...  ...   1990-03-18

      revenue runtime                                   spoken_languages  \
9576      0.0   168.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
26625     0.0   168.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...

         status  tagline                     title  video vote_average  \
9576   Released      NaN  The Phantom of the Opera  False          5.0
26625  Released      NaN  The Phantom of the Opera  False          5.0

      vote_count
9576         3.0
26625        3.0

[2 rows x 24 columns]
id=14788 need to be checked mannually:
       adult belongs_to_collection   budget  \
10419  False                   NaN  1600000
12066  False                   NaN  1600000

                                                  genres  \
10419  [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...
12066  [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...

                            homepage     id    imdb_id original_language  \
10419  http://www.bubblethefilm.com/  14788  tt0454792                en
12066  http://www.bubblethefilm.com/  14788  tt0454792                en

      original_title                                           overview  ...  \
10419         Bubble  Set against the backdrop of a decaying Midwest...  ...
12066         Bubble  Set against the backdrop of a decaying Midwest...  ...

      release_date revenue runtime                          spoken_languages  \
10419   2005-09-03     0.0    73.0  [{'iso_639_1': 'en', 'name': 'English'}]
12066   2005-09-03     0.0    73.0  [{'iso_639_1': 'en', 'name': 'English'}]

         status  tagline   title  video vote_average vote_count
10419  Released      NaN  Bubble  False          6.4       36.0
12066  Released      NaN  Bubble  False          6.4       36.0

[2 rows x 24 columns]
id=77221 need to be checked mannually:
       adult belongs_to_collection    budget  \
11155  False                   NaN  40000000
20843  False                   NaN  40000000

                                                  genres homepage     id  \
11155  [{'id': 12, 'name': 'Adventure'}, {'id': 18, '...      NaN  77221
20843  [{'id': 12, 'name': 'Adventure'}, {'id': 18, '...      NaN  77221

         imdb_id original_language original_title  \
11155  tt1701210                en     Black Gold
20843  tt1701210                en     Black Gold

                                                overview  ... release_date  \
11155  On the Arabian Peninsula in the 1930s, two war...  ...   2011-12-21
20843  On the Arabian Peninsula in the 1930s, two war...  ...   2011-12-21

         revenue runtime                          spoken_languages    status  \
11155  5446000.0   130.0  [{'iso_639_1': 'en', 'name': 'English'}]  Released
20843  5446000.0   130.0  [{'iso_639_1': 'en', 'name': 'English'}]  Released

       tagline       title  video vote_average vote_count
11155      NaN  Black Gold  False          5.9       77.0
20843      NaN  Black Gold  False          5.9       77.0

[2 rows x 24 columns]
id=13209 need to be checked mannually:
       adult belongs_to_collection budget  \
11342  False                   NaN   2500
15765  False                   NaN   2500


In [58]:
# found all duplicated ids, but they are exactly the same, so we can just drop duplicates
movies = movies.drop_duplicates(subset='id', keep='first')

In [59]:
# find all duplicated imdb_ids
dup_imdb_ids = movies[movies['imdb_id'].duplicated(keep=False)]['imdb_id'].unique()

In [60]:
# check if the content of duplicated imdb_id's other column is the same
for i in dup_imdb_ids:
    rows = movies[movies['imdb_id'] == i]
    if not rows.drop('imdb_id', axis=1).duplicated().all():
        print(f"imdb_id={i} need to be checked mannually:")
        print(rows)

imdb_id=nan need to be checked mannually:
       adult                              belongs_to_collection   budget  \
8966   False                                                NaN  1000000
13757  False                                                NaN        0
13821  False  {'id': 75014, 'name': 'How I Unleashed World W...        0
17382  False                                                NaN  2500000
17510  False                                                NaN        0
18959  False                                                NaN        0
19322  False                                                NaN        0
20806  False                                                NaN        0
20937  False                                                NaN        0
21916  False                                                NaN        0
22987  False                                                NaN        0
23744  False  {'id': 246207, 'name': 'Gunbuster Collection',...        0
33753  False                                                NaN        0
36955  False                                                NaN        0
40809  False                                                NaN        0
41832  False                                                NaN        0
45070  False                                                NaN        0

                                                  genres  \
8966                       [{'id': 80, 'name': 'Crime'}]
13757  [{'id': 35, 'name': 'Comedy'}, {'id': 53, 'nam...
13821  [{'id': 10769, 'name': 'Foreign'}, {'id': 28, ...
17382  [{'id': 9648, 'name': 'Mystery'}, {'id': 53, '...
17510  [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
18959  [{'id': 99, 'name': 'Documentary'}, {'id': 16,...
19322                                                 []
20806  [{'id': 16, 'name': 'Animation'}, {'id': 28, '...
20937  [{'id': 37, 'name': 'Western'}, {'id': 28, 'na...
21916  [{'id': 12, 'name': 'Adventure'}, {'id': 18, '...
22987                                                 []
23744  [{'id': 16, 'name': 'Animation'}, {'id': 12, '...
33753                                                 []
36955                                                 []
40809  [{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...
41832  [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
45070                                                 []

                                           homepage      id imdb_id  \
8966                                            NaN   36337     nan
13757                                           NaN  200796     nan
13821                                           NaN   75015     nan
17382  http://www.delawarepictures.net/dreamkiller/   36663     nan
17510                                           NaN   47116     nan
18959                                           NaN   28500     nan
19322                                           NaN  118013     nan
20806                                           NaN   15257     nan
20937                                           NaN   55576     nan
21916                                           NaN  293412     nan
22987                                           NaN   45514     nan
23744                                           NaN   30146     nan
33753                                           NaN  324017     nan
36955                                           NaN  161535     nan
40809                                           NaN   65256     nan
41832                                           NaN  430514     nan
45070                                           NaN  439314     nan

      original_language                                     original_title  \
8966                 en                                           Delusion
13757                pl                                               Show
13821                pl  Jak rozpętałem drugą wojnę światową: Cz.3 - Wś...
17382                en                                        Dreamkiller
17510                en                                              Víťaz
18959                en       Before The Dinosaurs - Walking With Monsters
19322                en                                          Endeavour
20806                en                                 Hulk vs. Wolverine
20937                en                          Last Stand at Saber River
21916                en                                       Running Wild
22987                en                                                  8
23744                ja                          トップをねらえ！＆トップをねらえ２！合体劇場版!!
33753                en                                         The Master
36955                en                                     Doraemon:貓狗時空傳
40809                en                     H2O Just Add Water - The Movie
41832                fr                                  Le passe-muraille
45070                en                     The Garden of Afflictions 2017

                                                overview  ... release_date  \
8966   In this fast-paced, noirish road movie, a comp...  ...   1991-06-07
13757                                                NaN  ...   2003-03-19
13821  How I Unleashed World War II tells the story o...  ...   1970-04-06
17382  A team of doctors experiment with a new, highl...  ...          NaN
17510  Tou former boxers meet in the ring again after...  ...   1979-03-09
18959  Many people think of the dinosaurs as the firs...  ...   2005-11-05
19322  Shaun Evans (The Take) steps into John Thaw's ...  ...          NaN
20806  Department H sends in Wolverine to track down ...  ...   2009-01-27
20937  As America recovers from the Civil War, one ma...  ...   1997-01-19
21916  Jennifer Barker plays a troubled woman who has...  ...   1995-01-01
22987  8 shorts centered around 8 themes directed by ...  ...   2008-10-23
23744  This double feature comprises of Gunbuster and...  ...   2006-10-01
33753  In 19th-century China, during the infamous Qin...  ...   2017-01-01
36955  One day, Nobita finds a stray dog drowning in ...  ...   2004-03-06
40809  When three normal teenage girls stumble upon a...  ...   2011-10-10
41832                                                NaN  ...   2016-12-16
45070  Brazilian philosopher Olavo de Carvalho's thin...  ...          NaN

      revenue runtime                                   spoken_languages  \
8966      0.0   100.0           [{'iso_639_1': 'en', 'name': 'English'}]
13757     0.0     NaN                                                 []
13821     0.0    73.0  [{'iso_639_1': 'de', 'name': 'Deutsch'}, {'iso...
17382     0.0   110.0                                                 []
17510     0.0    78.0                                                 []
18959     0.0    87.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
19322     0.0    98.0           [{'iso_639_1': 'en', 'name': 'English'}]
20806     0.0    38.0           [{'iso_639_1': 'en', 'name': 'English'}]
20937     0.0     0.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
21916     0.0     0.0                                                 []
22987     0.0   100.0  [{'iso_639_1': 'fr', 'name': 'Français'}, {'is...
23744     0.0   180.0               [{'iso_639_1': 'ja', 'name': '日本語'}]
33753     0.0   109.0                                                 []
36955     0.0     0.0                                                 []
40809     0.0    91.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
41832     0.0     NaN          [{'iso_639_1': 'fr', 'name': 'Français'}]
45070     0.0     0.0                                                 []

         status                                            tagline  \
8966   Released  She only wanted love. But money's better than ...
13757  Released                                                NaN
13821  Released                                                NaN
17382  Released                       Fear is the greatest killer.
17510   Rumored                                                NaN
18959  Released                                                NaN
19322  Released  Rookie detective Endeavor Morse faces his firs...
20806  Released                                                NaN
20937  Released                                                NaN
21916  Released                                                NaN
22987   Rumored                                                NaN
23744  Released                                                NaN
33753  Released                                                NaN
36955  Released                                                NaN
40809  Released                        Do you believe in mermaids?
41832  Released                                                NaN
45070  Released                                                NaN

                                                   title  video vote_average  \
8966                                            Delusion  False          4.8
13757                                               Show  False          6.3
13821  How I Unleashed World War II Part III: Among F...  False          7.0
17382                                        Dreamkiller  False          5.0
17510                                         The Winner  False          0.0
18959       Before The Dinosaurs - Walking With Monsters  False          7.3
19322                                          Endeavour  False          6.6
20806                                 Hulk vs. Wolverine  False          6.8
20937                          Last Stand at Saber River  False          3.7
21916                                       Running Wild  False         10.0
22987                                                  8  False          0.0
23744  Gunbuster vs Diebuster Aim for the Top! The GA...  False          6.5
33753                                         The Master  False          0.0
36955                                     Doraemon:貓狗時空傳  False          0.0
40809                     H2O Just Add Water - The Movie  False          6.4
41832                                  Le passe-muraille  False          0.0
45070                     The Garden of Afflictions 2017  False          0.0

      vote_count
8966         3.0
13757        2.0
13821        3.0
17382        1.0
17510        0.0
18959       12.0
19322       19.0
20806       48.0
20937        3.0
21916        1.0
22987        0.0
23744        5.0
33753        0.0
36955        0.0
40809       37.0
41832        0.0
45070        0.0

[17 rows x 24 columns]
imdb_id=0 need to be checked mannually:
                                                   adult  \
19730                                 - Written by Ørnås
29503   Rune Balot goes to a casino connected to the ...
35587   Avalanche Sharks tells the story of a bikini ...

      belongs_to_collection                            budget  \
19730              0.065736  /ff9qCepilowshEtG2GYWwzt2bs4.jpg
29503              1.931659  /zV8bHuSL6WXoD6FWogP9j4x80bL.jpg
35587              2.185485  /zaSf5OG7V8X8gqFvly88zDdRm46.jpg

                                                  genres  \
19730  [{'name': 'Carousel Productions', 'id': 11176}...
29503  [{'name': 'Aniplex', 'id': 2883}, {'name': 'Go...
35587  [{'name': 'Odyssey Media', 'id': 17161}, {'nam...

                                                homepage          id imdb_id  \
19730  [{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...  1997-08-20       0
29503  [{'iso_3166_1': 'US', 'name': 'United States o...  2012-09-29       0
35587           [{'iso_3166_1': 'CA', 'name': 'Canada'}]  2014-01-01       0

      original_language                            original_title  overview  \
19730             104.0  [{'iso_639_1': 'en', 'name': 'English'}]  Released
29503              68.0      [{'iso_639_1': 'ja', 'name': '日本語'}]  Released
35587              82.0  [{'iso_639_1': 'en', 'name': 'English'}]  Released

       ... release_date revenue runtime spoken_languages status  tagline  \
19730  ...            1     NaN     NaN              NaN    NaN      NaN
29503  ...           12     NaN     NaN              NaN    NaN      NaN
35587  ...           22     NaN     NaN              NaN    NaN      NaN

       title video vote_average vote_count
19730    NaN   NaN          NaN        NaN
29503    NaN   NaN          NaN        NaN
35587    NaN   NaN          NaN        NaN

[3 rows x 24 columns]

In [61]:
# just like id, found all duplicated imdb_ids, but they are exactly the same, so we can just drop duplicates
movies = movies.drop_duplicates(subset='imdb_id', keep='first')

In [62]:
# check again: id and imdb_id should not have any duplicates now (expected to be 0)
print("duplicate id ：", movies['id'].duplicated().sum())

print("duplicate imdb_id ：", movies['imdb_id'].duplicated().sum())

duplicate id ： 0
duplicate imdb_id ： 0

In [63]:
# id column should not have any empty values or empty strings
print("empty id ：", movies['id'].isnull().sum())
print("id empty string：", (movies['id'].str.strip() == '').sum())

empty id ： 0
id empty string： 0

In [64]:
# 2. check whether id is a pure digit
not_digit = ~movies['id'].str.isdigit()
print("in total: ", not_digit.sum(),"ids are not pure digit")
print("show them in details：")
print(movies.loc[not_digit, 'id'].head())

in total:  1 ids are not pure digit
show them in details：
19730    1997-08-20
Name: id, dtype: object

In [65]:
#just drop all rows where id is not a pure digit
movies = movies[movies['id'].str.isdigit()]

In [66]:
# drop rows where imdb_id is empty string or null
movies = movies[~movies['imdb_id'].isnull() & (movies['imdb_id'].str.strip() != '')]

In [67]:
#imdb_id should be in the format of 'tt' followed by digits, e.g., 'tt1234567'
# check if imdb_id matches the expected format
invalid_imdb = ~movies['imdb_id'].fillna('').str.match(r'^tt\d+$')
print(invalid_imdb.sum(),"imdb_id can not match the expected format")
print("show them in details：")
print(movies.loc[invalid_imdb, 'imdb_id'].head())

1 imdb_id can not match the expected format
show them in details：

8966    nan
Name: imdb_id, dtype: object

In [68]:
# check if imdb_id length is 9 characters (including 'tt' prefix)
invalid_length = ~movies['imdb_id'].str.match(r'^tt\d{7}$')
print( invalid_length.sum(),"imdb_ids' length is not 9 characters (including 'tt' prefix)")
print("show them in details：")
print(movies.loc[invalid_length, 'imdb_id'].head())

1 imdb_ids' length is not 9 characters (including 'tt' prefix)
show them in details：
8966    nan
Name: imdb_id, dtype: object

In [69]:
movies = movies[movies['imdb_id'].str.match(r'^tt\d{7}$')]

In [70]:
# check again if imdb_id length is 9 characters (expected to be 0)
invalid_length = ~movies['imdb_id'].str.match(r'^tt\d{7}$')
print( invalid_length.sum(),"imdb_ids' length is not 9 characters (including 'tt' prefix)")

0 imdb_ids' length is not 9 characters (including 'tt' prefix)

In [71]:
# check if id is a positive integer
print(movies[pd.to_numeric(movies['id'], errors='coerce') <= 0])

Empty DataFrame
Columns: [adult, belongs_to_collection, budget, genres, homepage, id, imdb_id, original_language, original_title, overview, popularity, poster_path, production_companies, production_countries, release_date, revenue, runtime, spoken_languages, status, tagline, title, video, vote_average, vote_count]
Index: []

[0 rows x 24 columns]

In [72]:
# convert id to integer type, because ratings.csv movie_id is int
movies['id'] = movies['id'].astype(int)

In [73]:
# handle another dataset: ratings.csv
ratings = pd.read_csv("data/ratings.csv")
print(ratings.head())
print(ratings.info())

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523
3       1     1221     5.0  1425941546
4       1     1246     5.0  1425941556
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26024289 entries, 0 to 26024288
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  int64
dtypes: float64(1), int64(3)
memory usage: 794.2 MB
None

In [74]:
# if userId、movieId、rating missing, we will drop the row
missing_rows = ratings[['userId', 'movieId', 'rating']].isnull().any(axis=1).sum()
print(missing_rows,"missing rows will be deleted")

0 missing rows will be deleted

In [75]:
# check how many rows's userId can not cast to int
invalid_userId = pd.to_numeric(ratings['userId'], errors='coerce').isnull()
print("found", invalid_userId.sum(),"rows userId can not cast to int")

# check how many rows's movieid can not cast to int
invalid_movieId = pd.to_numeric(ratings['movieId'], errors='coerce').isnull()
print("found ", invalid_movieId.sum(),"rows movieId can not cast to int")

# check how many rows's rating can not cast to float
invalid_rating = pd.to_numeric(ratings['rating'], errors='coerce').isnull()
print("found", invalid_rating.sum(),"rows rating can not cast to int")

found 0 rows userId can not cast to int
found  0 rows movieId can not cast to int
found 0 rows rating can not cast to int

In [ ]:
# cast userId, movieId, rating to int or float
ratings['userId'] = ratings['userId'].astype(int)
ratings['movieId'] = ratings['movieId'].astype(int)
ratings['rating'] = ratings['rating'].astype(float)

In [77]:
# check whether there are any duplicate ratings (same userId and movieId)
print("duplicate rating pair：", ratings.duplicated(subset=['userId', 'movieId']).sum())

duplicate rating pair： 0

In [ ]:
#check if there are any ratings that are not in the range of 0 to 5
print(ratings[(ratings['rating'] < 0) | (ratings['rating'] > 5)])

Empty DataFrame
Columns: [userId, movieId, rating, timestamp]
Index: []

In [124]:
ratings = ratings.merge(movies[['id']], left_on='movieId', right_on='id', how='inner')

In [125]:
# 找出 ratings 里 movieId 不在 movies['id'] 里的行
not_in_movies = ~ratings['movieId'].isin(movies['id'].astype(int))
print("ratings 里 movieId 在 movies_metadata 里找不到的数量：", not_in_movies.sum())
print("示例：")
print(ratings.loc[not_in_movies].head())

ratings 里 movieId 在 movies_metadata 里找不到的数量： 0
示例：
Empty DataFrame
Columns: [userId, movieId, rating, timestamp, id]
Index: []